<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	versionCode="1"
	version 	= "1"
	id        = "com.womens.shoes">

	<preference name="phonegap-version" value="3.7.0" />
	<preference name="fullscreen" value="false" />

	<name>Womens Discount Shoes</name>

	<description>
		Womens Shoes At Discount Prices 
	</description>

	<author href="devverse@gmail.com"
		email="devverse@gmail.com">
		Womens Discount Shoes
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.4" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>

	<!-- General -->
	<icon src="icons/icon.png" width="72" height="72" />
	<icon src="icons/icon.png" width="48" height="48" />
	<icon src="icons/icon.png" width="36" height="36"  gap:role="default"  />

    <gap:splash src="splash.jpg" />
	<feature name="http://api.phonegap.com/1.0/network"/>
</widget>
